doctype 5
html
  head
    != css('main')
    != css('highlight-github')
    != js('zepto')
    != js('highlight')
    != js('main')
    title OAuth2 Demo
  body
    a(href="https://github.com/ares-ensiie/oauth-demo")
      img(style="position: absolute; top: 0; left: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png", alt="Fork me on GitHub")

    h1 Démonstration OAuth
    if token
      p.banner Bienvenu(e) #{me.first_name + " " + me.last_name}
        a.disconnect(href="/deauth") (Se déconnecter)
      h2 Faire une requête sur l'API :
      pre= api_url
      input(type="text", placeholder="/users/self")
      input(type="submit")
      ul.tags
        li#self Self
        li#everybody Everybody
      pre
        code
    else
      a.banner(href="/auth/ares") sign in with ares
